.card-container {
    overflow-x: auto;
    white-space: nowrap;
  }
  
  .card.of {
    display: inline-block;
    width: 300px; 
    margin-right: 10px;
  }

  h1{
    font-family: 'Fugaz-One';
  }
  h2,h3,h4,h5,h6{
    font-family: 'Dongle';
    font-size: 20px;
  }
  div.card-body p{
    font-family: 'Dongle';
    font-size: 20px;
  }