<div class="modal show" [class.show]="isOpen" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Post an offer</h5>
          <button type="button" class="close btn" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="row">
            <div class="mb-3 col-12">
                <input type="text" hidden class="form-control" placeholder="Sender" [(ngModel)]="id">
            </div>
            
            <div class="mb-3 col-12">
                <input type="text" class="form-control" placeholder="Title" [(ngModel)]="title">
            </div>
            <div class="mb-3 col-12">
                <input type="text" class="form-control" placeholder="Path" [(ngModel)]="path">
            </div>
              
            <div class="mb-3 col-12">
                <label for="numberOfPeople">Number of people:</label>
                <input id="numberOfPeople" type="number" class="form-control" placeholder="Number of people" [(ngModel)]="nb_ppl">
            </div>
        
            <div class="mb-3 col-12">
                <label for="departureTimeSelect">Departure Time:</label>
                <select id="departureTimeSelect" class="form-control" [(ngModel)]="departure_time" name="departureTime">
                  <option value="" disabled selected>Choose a time</option>
                  <option *ngFor="let time of availableTimes" [value]="time">{{time}}</option>
                </select>
              </div>
              
              
              <div class="mb-3 col-12">
                <label for="departureDate">Departure Date:</label>
                <input type="date" class="form-control" id="departureDate" [(ngModel)]="departure_date" name="departureDate">
              </div>

              <div class="mb-3 col-12">
                <label for="price">Price:</label>
                <input type="number" class="form-control" id="price" [(ngModel)]="price" name="price">
              </div>  
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" (click)="sendOffer()" class="btn btn-primary mt-1 me-2" data-bs-dismiss="modal">Post Offer</button>
          <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button> -->
        </div>
      </div>
    </div>
  </div>
