<div class="custom-table">
    <p-table
      [value]="complaints"
      [paginator]="true"
      [rows]="5"
      [first]="first"
      [showCurrentPageReport]="true"
      [tableStyle]="{ 'min-width': '50rem' }"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    >
      <ng-template pTemplate="header">
          <tr>
              <th style="width:25%">Object</th>
              <th style="width:25%">Description</th>
              <th style="width:25%">User</th>
              <th style="width:25%">State</th>
              <th style="width:25%"></th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-complaint>
          <tr>
              <td>{{ complaint.object }}</td>
              <td>{{ complaint.description }}</td>
              <td>{{ complaint.user.firstName}} {{ complaint.user.lastName}}</td>
              <td>{{ complaint.state }}</td>
              <td>
                <button 
                    type="button" 
                    pButton 
                    pRipple 
                    icon="pi pi-external-link" 
                    (click)="recuperer(complaint);openDetailsModal()" data-bs-toggle="modal" data-bs-target="#addModal">
                </button>
            </td>
          </tr>
          <app-complaint-details #detailsModal [complaint]="selectedComplaint" (response)="respondToComplaint($event)"></app-complaint-details>
      </ng-template>
    </p-table>
  </div>
