.app-container {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.overlay-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: rgba(23, 23, 23, 0.7);
}

.overlay-bottom {
  flex-shrink: 0;
  margin-top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  
}
