<div class="card mt-3" (click)="sendOfferToList()">
  <div class="card-body">
    <div class="row mb-0"> <!-- Added margin utility class -->
      <div class="col">
        <h2>Offer title : <span>{{ offer.title }}</span></h2>
      </div>
      <div class="col text-end">
        <h4><span>{{ offer.offeror?.firstName }} {{ offer.offeror?.lastName }}</span></h4>
      </div>
    </div>
    <h4 class="mb-1">Path : <span>{{ offer.path }}</span></h4> <!-- Added margin utility class -->
    <div class="row mb-1"> <!-- Added margin utility class -->
      <h4>Departure : <span>{{ offer.departure_date }}</span> At <span>{{ offer.departure_time }}</span></h4>
    </div>
    <h4 class="mb-0">Packages remaining: <span>{{ offer.nb_pkg }} </span></h4> <!-- Adjusted margin utility class -->
  </div>
</div>


<!-- <div class="card  mb-5 mx-4" (click)="sendOfferToList()">
  <div class="card-body">
      <i class="fa fa-trash-alt text-danger" style="position: absolute; top: 10px; right: 10px; cursor: pointer;"></i>
      <i class="fa-solid fa-pencil text-primary" style="position: absolute; top: 10px; right: 40px; cursor: pointer;"></i>
      <h5 class="card-title">Sender: {{ offer?.offeror?.firstName }}</h5>
      <h6 class="card-subtitle mb-2 text-muted">State: {{ offer?.price }}</h6>
      <p class="card-text">Offer: {{ offer?.type }}</p>
      <p class="card-text">Departure: {{ offer?.departure_time }}</p>
      <p class="card-text">Arrival: {{ offer?.departure_date }}</p>
  </div>
</div>
 -->
