<h4 class="mx-5">Filters :</h4> 
            <div class="filters">
                <h4>Filters:</h4>

                <div class="filter-group">
                    <label for="arrival-filter">Arrival Point:</label>
                    <div class="filter-options">
                        @for (location of locations; track $index) {
                            <input type="checkbox" [id]="'arrival-filter-' + location" [name]="'arrival-filter'" [value]="location">
                            <label [for]="'arrival-filter-' + location">{{ location }}</label>
                        }
                    </div>
                </div>
                <div class="filter-group">
                    <label for="destination-filter">Destination Point:</label>
                    <div class="filter-options">
                        @for (location of locations; track $index) {
                            <input type="checkbox" [id]="'destination-filter-' + location" [name]="'destination-filter'" [value]="location">
                            <label [for]="'destination-filter-' + location">{{ location }}</label>
                        }
                    </div>
                </div>
                <div class="filter-group">
                    <label for="time-filter">Time:</label>
                    <div class="filter-options">
                        @for (time of times; track $index) {
                            <input type="checkbox" [id]="'time-filter-' + time" [name]="'time-filter'" [value]="time">
                            <label [for]="'time-filter-' + time">{{ time }}</label>
                        }
                    </div>
                </div>
                <button class="btn btn-success me-3">Apply Filters</button>
                <button class="btn btn-warning">Clear Filters</button>
            </div>