<div class="container" class="py-5 text-center mt-5">
  <h1>MANGAE YOUR PROFILE</h1>
</div>

<div class="container mt-5">
<div class="row">
  <div class="col-md-4">
    <div class="card mb-3">
      <div class="card-body text-center">
        @if (user?.avatar==null) {
          <div>
            <img src="../../assets/images/default_avatar.png" width="199px" height="199px" alt="Default AVATAR" class="profile-picture mb-3">
          </div>
        }@else {
          <img [src]="'http://localhost:5000/uploads/avatars/' + user.avatar" width="199px" height="199px"  alt="Profile Picture" class="profile-picture mb-3">
        }
        <input type="file" class="form-control" (change)="onAvatarChange($event)">
        <button class="btn btn-success mt-2" (click)="saveAvatar()">Save Avatar</button>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="card mb-5">
      <div class="card-body">
        <h5 class="card-title">Edit Profile</h5>
        <form>
          <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" id="firstName" name="firstName" [(ngModel)]="user.firstName">
          </div>
          <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" id="lastName" name="lastName" [(ngModel)]="user.lastName">
          </div>
          <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" name="email" [(ngModel)]="user.email">
          </div>

          <div class="mb-3">
            <label class="form-label">Do you have a car?</label>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="haveCar" id="noCar" [(ngModel)]="haveCar" [value]="false" [checked]="!haveCar">
              <label class="form-check-label" for="noCar">No</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="haveCar" id="yesCar" [(ngModel)]="haveCar" [value]="true" [checked]="haveCar">
              <label class="form-check-label" for="yesCar">Yes</label>
            </div>
          </div>
          
          <div class="mb-3" *ngIf="haveCar">
            <label for="car" class="form-label">Car Model</label>
            <input type="text" class="form-control" id="car" [(ngModel)]="user.car" name="car">
          </div>
          
          <button type="submit" class="btn btn-primary mt-2" (click)="saveChanges()">Save Changes</button>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
<div class="container py-5 text-center">
  <h1>YOUR HISTORY</h1>
</div>

<div class="text-center">
  <h4>Your offers :</h4>

  <h6>Carpooling offers :</h6>
  <div class="card-container mt-3">
    @for(coffer of carpoolingOffers; track $index) {
      <div class="card mt-3 of">
        <div class="card-body">
          <h6>{{ coffer.title }}</h6>
          <h6>Posted by : {{ coffer.offeror?.firstName }} {{coffer.offeror?.lastName}} </h6>
          <h6>Path : {{ coffer.path }}</h6>
          <h6>Departure Time : {{ coffer.departure_time }}</h6>
          <h6>Departure Date : {{ coffer.departure_date }}</h6>
          <h6>Seats remaining: {{ coffer.nb_ppl }} </h6> 
          <h6>Price : {{ coffer.price }} DT</h6>
        </div>
      </div>
    }
  </div>
</div>

<div class="mt-3 text-center">
  <h6>Delivery offers :</h6>
  <div class="card-container mt-3">
    @for(doffer of deliveryOffers; track $index) {
      <div class="card mt-3 of">
        <div class="card-body">
          <h6>{{ doffer.title }}</h6>
          <h6>Posted by : {{ doffer.offeror?.firstName }} {{doffer.offeror?.lastName}} </h6>
          <h6>Path : {{ doffer.path }}</h6>
          <h6>Departure Time : {{ doffer.departure_time }}</h6>
          <h6>Departure Date : {{ doffer.departure_date }}</h6>
          <h6>Number of packages : {{ doffer.nb_pkg }} </h6> 
          <h6>Price : {{ doffer.price }} DT</h6>
        </div>
      </div>
    }
  </div>
</div>
<div class="mt-5 text-center">
  <h4>Your requests :</h4>

  <div class="card-container mt-3 mb-5">
    @for(req of requests; track $index) {
      <div class="card mt-3 of">
        <div class="card-body">
            <h5 class="card-title">Sender: {{ req.sender.firstName }} {{req.sender.lastName}}</h5>
            @if(req.state == 'Pending') {
              <h6 class="card-subtitle mb-2 text-muted">State: <span class="text-warning">{{ req.state }}</span></h6>
            }@else if(req.state == 'Approved') {
              <h6 class="card-subtitle mb-2 text-muted">State: <span class="text-success">{{ req.state }}</span></h6>
            }@else {
              <h6 class="card-subtitle mb-2 text-muted">State: <span class="text-danger">{{ req.state }}</span></h6>
            }
            <!-- <h6 class="card-subtitle mb-2 text-muted">State: {{ req.state }}</h6> -->
            <p class="card-text">Offer: {{ req.offer.title }}</p>
            <p class="card-text">Departure: {{ req.departure }}</p>
            <p class="card-text">Arrival: {{ req.arrival }}</p>
        </div>
    </div>
    }
  </div>
</div>