.card-container {
    overflow-x: auto;
    white-space: nowrap;
  }
  
  .card.of {
    display: inline-block;
    width: 300px; 
    margin-right: 10px;
  }

  h1{
    font-family: 'Fugaz-One';
  }
  h2,h3,h4,h5,h6{
    font-family: 'Dongle';
    font-size: 20px;
  }
  div.card-body p{
    font-family: 'Dongle';
    font-size: 20px;
  }
  .card-header {
    border: none; /* Remove border */
    background-color: transparent; /* Remove background color */
  }
  
  .card-body.req {
    margin-top: -40px; /* Adjust margin to remove vertical space */
  }
  
  .ellipsis-icon {
    margin: 5px; /* Add margin to the ellipsis icon */
  }