<div id="banner-image"></div>
<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-4 mt-3">
            <app-carpooling-filters (sendFiltersToHome)="getfilters($event)"></app-carpooling-filters>
        </div>
        <div class="col-6">
            <div class="scrollable-offers mb-5">
                <app-carpooling-list [offers]="offers" [filters]="filters"
                (offerToHome)="recupererOffre($event);openModal2()" data-bs-toggle="modal" data-bs-target="#detailsModalCenter"
                ></app-carpooling-list>
            </div>
        </div>
        <div class="col-2 float-end">
            <button class="btn btn-success mt-3" (click)="openModal()" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">Post offer</button>
            <app-carpooling-details-modal #modal2 [user]="user" [selectedOffer]="selectedOffer"  (OfferToBeDeletedToHome)="handleToBeDeletedOffer($event)"></app-carpooling-details-modal>
        </div>
    </div>
</div>
<app-request-modal #modal3 [selectedOffer]="selectedOffer" (close)="closeRequestModal()"
(requestToHome)="handleRequestPosted($event)"
></app-request-modal>

<app-post-offer-modal #modal (offerToHome)="handlePostedOffer($event)"></app-post-offer-modal>