<!--<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand">Navbar scroll</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-lg-center" id="navbarNav" [ngClass]="{'show': isNavbarOpen}">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/Home" routerLinkActive="active">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">CARPOOLING</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/Delivery" routerLinkActive="active">DELIVERY</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/About-us" routerLinkActive="active">ABOUT US</a>
        </li>
      </ul>
    </div>

    <button><i class="bi bi-person-circle" style="font-size: 1.5rem; color: #E29F06;"></i></button>
  </div>
</nav>-->

<nav class="navbar navbar-expand-lg">
  <div class="container">
    <a class="">Navbar scroll</a>

    <div class="collapse navbar-collapse justify-content-lg-center" id="navbarNav" [ngClass]="{'show': isNavbarOpen}">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/Home" routerLinkActive="active">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/carpooling">CARPOOLING</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/Delivery" routerLinkActive="active">DELIVERY</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/About-us" routerLinkActive="active">ABOUT US</a>
        </li>
      </ul>
    </div>
    @if(isAuthenticated){
      <div class="dropdown">
        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="bi bi-person-circle" style="font-size: 1.5rem; color: #E29F06;"></i>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Profile</a>
          <a class="dropdown-item" href="#">My offers</a>
          <a class="dropdown-item" (click)="logout()">Logout</a>
        </div>
      </div>
    }@else {
      <div class="dropdown">
        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="bi bi-person-circle" style="font-size: 1.5rem; color: #E29F06;"></i>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" routerLink="/auth/register">Register </a>
          <a class="dropdown-item" routerLink="/auth/login">Login</a>
        </div>
      </div>
    }
    

    <!-- <button><i class="bi bi-person-circle" style="font-size: 1.5rem; color: #E29F06;" ></i></button> -->
  
    <button class="navbar-toggler" type="button"  (click)="toggleNavbar()" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
  </div>
</nav>