
li a {
  color: white;
  font-family: 'Dongle';
  font-size: 27px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.nav-item {
  margin-right: 12px;
  margin-left: 12px;
}

.nav-item a.active {
  color: #E29F06;
}

.nav-item a:hover {
  color: #E29F06;
}

button{
  background: none;
  border: none;
}

.navbar-links {
  display: none;
}

.navbar-links.show-links {
  display: block;
}

@media (max-width: 991.98px) {
  .person-icon {
    display: none;
  }
}

.dropdown-menu {
  background-color: #212529;
  border: 1px solid #343a40;
}

.dropdown-menu a {
  color: #fff;
  font-family: 'Dongle';
  font-size: 30px;
  padding: 10px 20px; 
}

.dropdown-menu a:hover {
  background-color: #343a40;
}
a.dropdown-item{
  cursor: pointer;
}
a.dropdown-item:hover {
  color: #E29F06;
}

.no-arrow::after {
  display: none;
}
