<div class="modal show" [class.show]="isOpen" id="deliveryDetailsModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleDeliveryDetailsModalCenterTitle" aria-hidden="true">  
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header d-flex justify-content-between align-items-center" *ngIf="selectedOffer">
        <h5 class="modal-title" id="deliveryDetailsModal">{{selectedOffer?.title}}</h5>
        <button type="button" class="close btn" data-bs-dismiss="modal" aria-label="Close">
          <span style="color: black;" aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="row">
            <div class="col-12">
                <h4>Offeror : <span>{{ selectedOffer?.offeror.firstName }} {{ selectedOffer?.offeror.lastName }}</span></h4>
            </div>
          

            <h4>Path : <span>{{ selectedOffer?.path }}</span></h4>
            <div class="col-12">
                <h4>Car : <span>{{ selectedOffer?.offeror.car }}</span></h4>
            </div>
            <div class="col-12">
                <h4>Number of packages remaining : <span> {{ selectedOffer?.nb_pkg }}</span></h4>
            </div>
            
            <div class="col-12">
                <h4>Price : <span>{{ selectedOffer?.price }} DT </span></h4>
            </div>
            <div class="col-12">
              <div class="row">
                <h4>Departure date : <span> {{ selectedOffer?.departure_date }}</span> At <span> {{ selectedOffer?.departure_time }}</span></h4>
              </div>
            </div>
          </div>
        
      <div class="modal-footer d-flex justify-content-start">
        @if(user){
          @if(selectedOffer?.offeror.cin == user?.cin){        
            <button type="button" class="btn btn-primary"  data-bs-toggle="modal" data-bs-target="#editOfferModal">Edit</button>
            <button type="button" (click)="deleteOffer()" data-bs-dismiss="modal" class="btn btn-danger">Delete</button>
          }@else{
            <button type="button" class="btn btn-success" (click)="onRequest()" data-bs-toggle="modal" data-bs-target="#sendRequestModal">Request to join</button>
          }  
        }@else{
          <button type="button" class="btn btn-success"(click)="sendToLogin()" data-bs-dismiss="modal" >Login</button>
        }
      
      </div>
    </div>
  </div>
</div>