<div class="main">
    <div class="background-image">
        <div class="content">
            <app-delivery-filter (sendFiltersToHome)="getfilters($event)"></app-delivery-filter>
            <div class="main-content">
                <div class="col-offset-3">
                    <button class="btn btn-success" (click)="openAddModal()" data-bs-toggle="modal" data-bs-target="#addModal">Post an offer</button>
                </div>
                <app-delivery-list [offers]="offers" [filters]="filters" (selectedOfferToHome)="handleIncomingOffer($event) ; openDetailsModal()" data-bs-toggle="modal" data-bs-target="#deliveryDetailsModalCenter"></app-delivery-list>
            </div>
        </div>
    </div>
</div>
<app-delivery-offer-details #detailsModal [user]="user" [selectedOffer]="selectedOffer" (OfferToBeDeletedToHome)="handleToBeDeletedOffer($event)"></app-delivery-offer-details>
<app-delivery-edit-offer #editModal [selectedOffer]="selectedOffer"></app-delivery-edit-offer>
<app-delivery-add-offer #addModal [user]="user" (offerToHome)="handlePostedOffer($event)"></app-delivery-add-offer>
<!--[offer]="offer"    (close)="closeModal()"-->