<div class="card info-card sales-card">


    <div class="card-body">
      <h5 class="card-title">{{data.key}} <span>| Today</span></h5>

      <div class="d-flex align-items-center">
        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
          <i class="bi bi-cart"></i>
        </div>
        <div class="ps-3">
          <h6>{{data.value}}</h6>
          <span class="text-muted small pt-2 ps-1">Almost </span><span class="text-success small pt-1 fw-bold">{{dataPerYear}} %</span><span class="text-muted small pt-2 ps-1">per year</span>

        </div>
      </div>
    </div>
  </div>