<div class="container">
    <div class="slider">
      <div class="slide-track">
        <div class="slide" *ngFor="let member of teamMembers">
          <div class="team-item">
            <div class="overflow-hidden">
                <img class="img-fluid" [src]="'../../assets/images/' + member.imageUrl" alt="">
            </div>
            <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
              <div class="bg-light d-flex justify-content-center pt-2 px-1">
                <a class="btn btn-sm-square mx-1" href="" style="color: #06bbcc;"><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-sm-square mx-1" href="" style="color: #06bbcc;"><i class="fab fa-twitter"></i></a>
                <a class="btn btn-sm-square mx-1" href="" style="color: #06bbcc;"><i class="fab fa-instagram"></i></a>
              </div>
            </div>
            <div class="text-center p-4">
              <h5 class="mb-0">{{ member.name }}</h5>
              <small>{{ member.role }}</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  