<div class="row">
  <div class="col-xl-3">
    <div class="card info-card sales-card custom-card">
      <div class="card-body">
        <h5 class="card-title">{{Data[0]?.key}} <span>| Today</span></h5>
        <div class="d-flex align-items-center">
          <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
            <i class="bi bi-cart"></i>
          </div>
          <div class="ps-3">
            <h6>{{Data[0]?.value}}</h6>
            <span class="text-muted small pt-2 ps-1">Almost </span><span class="text-success small pt-1 fw-bold"> %</span><span class="text-muted small pt-2 ps-1">per year</span>
  
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3">
    <div class="card info-card sales-card custom-card">
      <div class="card-body">
        <h5 class="card-title">{{Data[1]?.key}} <span>| Today</span></h5>
        <div class="d-flex align-items-center">
          <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
            <i class="bi bi-cart"></i>
          </div>
          <div class="ps-3">
            <h6>{{Data[1]?.value}}</h6>
            <span class="text-muted small pt-2 ps-1">Almost </span><span class="text-success small pt-1 fw-bold"> %</span><span class="text-muted small pt-2 ps-1">per year</span>
  
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3">
    <div class="card info-card sales-card custom-card">
      <div class="card-body">
        <h5 class="card-title">{{Data[2]?.key}} <span>| Today</span></h5>
        <div class="d-flex align-items-center">
          <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
            <i class="bi bi-cart"></i>
          </div>
          <div class="ps-3">
            <h6>{{Data[2]?.value}}</h6>
            <span class="text-muted small pt-2 ps-1">Almost </span><span class="text-success small pt-1 fw-bold"> %</span><span class="text-muted small pt-2 ps-1">per year</span>
  
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3">
    <div class="card info-card sales-card custom-card">
      <div class="card-body">
        <h5 class="card-title">{{Data[3]?.key}} <span>| Today</span></h5>
        <div class="d-flex align-items-center">
          <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
            <i class="bi bi-cart"></i>
          </div>
          <div class="ps-3">
            <h6>{{Data[3]?.value}}</h6>
            <span class="text-muted small pt-2 ps-1">Almost </span><span class="text-success small pt-1 fw-bold"> %</span><span class="text-muted small pt-2 ps-1">per year</span>
  
          </div>
        </div>
      </div>
    </div>
  </div>
</div>